[submodule "comment-service"]
	path = comment-service
	url = git@github-personal:diorgenesmorais/comment-service.git
[submodule "moderation-service"]
	path = moderation-service
	url = git@github-personal:diorgenesmorais/moderation-service.git
